.scw-wrap{
	padding: 20px;
	font-size: 16px;
	overflow: hidden;
}
.options-form{
	width: 50%;
	float: left;
	margin: 50px 0;
}

.options-form .block{
	margin-bottom: 40px;
	overflow: hidden;
	background-color: #fff;
	padding: 20px;
}

fieldset label{
	margin-right: 10px;
}
.scw-submit{
	margin-top: 50px !important;
	display: block !important;
}
.hidden-h1{
	display: none;
}

.pro-notice{
	width: 40%;
	float: right;
	margin: 50px 0;
}

.scw-admin-title{
	width: 50%;
	float: left;
}

.scw-version{
	text-align: right;
	width: 50%;
}

.scw-wrap h3{
	margin-top: 0;
}

.scw-admin-page-title{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.scw-styling label{
	display: block;
	margin-bottom: 10px;
}

.block-label{
	display: block;
	margin: 20px 0;
}

.scw-styling label span{
	display: block;
	margin-bottom: 10px;
}

.update-nag, 
.updated, 
.error, 
.is-dismissible{ 
	display: none; 
}

.pro-only{
	opacity: 0.6;
}

.pro-only-link{
	color: red;
	font-weight: 700;
}

.pro-details-list{
	list-style-position: inside;
	margin:0 !important;
}

.scw-contact-info{
	margin-top: 50px;
}

.review-request{
	margin-bottom: 50px;
}

.review-request p, .pro-details-list{
	font-size: 16px;
	background-color: #fff;
	padding: 10px;
	font-weight: 500;
	line-height: 30px;
}

.scw-premium-options input[type="text"]{
	width:300px;
}
.scw-styling .wp-picker-container{
	display:block;
	margin-top:10px;
	margin-bottom:10px;
}
.scw-styling .block-label{
	margin:0;
}
.scw-styling .wp-picker-input-wrap:not(.hidden){
	display:flex;
	align-items:center;
	margin:10px 0 15px;
}